@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


h1, h2, h3 {
    color: #a707b2;
    margin: 20px 0 30px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 50px;
}

h3 {
    font-size: 1.75rem;
}

p {
    line-height: 150%;
    margin: 10px 0;
    color: #444444;
}

img {
    max-width: 100%;
    height: auto;
}

.main {
    padding: 50px 0 90px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/***********************
        HEADER 
************************/
header {
    background-color: #f6f6f6;
    padding-bottom: 50px;
}

nav {
   text-align: center;
}

nav ul, .image-gallery ul {
    list-style-type: none;
}

li {
    margin-bottom: 7px;
}

nav a {
    color: #00acc8;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif; 
}

nav a:hover, footer a:hover {
    color: #12616d;
}

.dropdown-content {
    display: none;
    margin: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    padding: 5px;
  
}

.menu {
    padding-top: 30px;
}


header img {
    width: 250px;
}

.flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.text-color  {
    color: #00acc8;
}

.banner img {
    margin: 0;
    width: 100%;
   
}

button {
    text-decoration: none;
    background-color: #12616d;
    color: white;
    display: inline-block;
    padding: 0.35em 1.2em;
    font-size: 2.25rem;
    margin-top: 30px;
    outline: none;
    border-radius: 4px;
}

.header-btn {
    font-size: 1.25rem;
    padding: .25em .75em;
    border: none;
    /*box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.25);*/
}

.button, .donate-btn {
    text-align: center;
}

/***************************
    MAIN SECTION 
****************************/

.img1 img {
    border: 2px solid #a707b2;
    margin: 20px 0;
}

.featured-stories figcaption {
    font-size: 1.25rem;
}

.featured-stories h3 {
    margin: 20px 0 15px;
}

.date {
    color: #a707b2;
    margin-top: 0;
    font-size: 1rem;
    font-style: italic;
}

.donate-btn {
    padding: 30px 0;
}

.cta {
    background-color: #12616d;
    padding: 150px 0;
    color: white;
    font-size: 2.25rem;
    text-transform: uppercase;   
}

.cta button {
    box-shadow: none;
}

.cta p {
    width: 90%;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif; 
}

.image-gallery {
    width: 100%;
}

/***********************
FOOTER SECTION 
************************/

footer {
    padding: 40px 0;
    text-align: center;
    background-color: #f6f6f6;
}

footer ul li {
    display: inline;
    font-size: 2.5em;
  }
  
  footer i {
    margin: 10px 5px;
    padding: 5px;
    color: #12616d;
  }
   
  footer address {
      margin: 0;
      font-family: 'Montserrat', sans-serif; 
  }

  address p {
    color: #a707b2;
  }



/**********************
Mission Page
***********************/

.bullet-list {
    margin-top: 20px;
}

.extra-info {
    margin-top: 40px;
}

.mission-btn {
    text-decoration: none;
    display: inline-block;
    padding: 0.35em 1.2em;
    font-size: 1.25rem;
    margin: 0;
}

 .rh-vision {
     font-weight: bold;
 }



/********************
Contact Page 
********************/

 address, address a, figcaption {
     color: #a707b2;
     font-style: normal;
     text-decoration: none;
     font-size: 1.25rem;
 }

 address p {
     margin: 50px 0 30px;
 }


 .contact-main {
     text-align: center;
 }

 .cathy-headshot img {
     border: 2px solid #f39dd9;
     
 }

 figcaption {
     margin-top: 10px;
 }

 /**********************************
 PROGRAMS PAGE
 ***********************************/
.small-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    font-size: 1.25rem;
    margin: 0;
}

/************************************
EVENTS
**************************************/

.event-pics {
    margin-top: 60px;
}

.event-pics img {
    margin: 20px 0;
}


/*****************************************
OUR TEAM 
******************************************/
.board-members, .names {
    text-align: center;
}

.board-members ul {
    list-style-position: inside;
}

.board-member-heading {
    font-size: 2rem;
}

.team-name {
    font-size: 1.625rem;
    color: #00acc8;
    font-weight: bold;
    display: inline-block;
    text-align: left;
}


.team {
    padding: 50px 0 100px;
}

.p2 {
    margin-top: 30px;
}


 /* ================================================================
      DESKTOP MEDIA QUERY
  ====================================================================*/
  
  @media only screen and (min-width: 1200px) {

    /*****************************
            HEADER 
    ******************************/
 
   .flex-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header img {
        margin: 0;
        width: 250px;
    }


  .header-btn {
        text-decoration: none;
        padding: 0.75em 2em;
        font-size: 1.25rem;
        margin: 0;
    }

    .menu {
        padding: 0;
    }
  
    .donate-btn {
        text-align: right;
        padding: 0;
    }

    .donate-btn button {
        text-transform: uppercase;
    }
    
    nav {
        display: flex;
        align-items: center;
    }

   nav ul {
        display: flex;
    }

    nav li {
        margin: 0 10px;
    } 

    /************************
     MAIN SECTION 
     ************************/

    .main-content {
        display: flex;
        margin: 40px 0 70px;
    }

    .main-text {
        width: 30%;
    }

    .featured-stories {
        width: 30%;
    }

    .img1 {
        display: flex;
        width: 30%;
        margin: 0 50px;
    }

    .img1 img {
        display: block;
    }

    .cta {
        padding: 150px 0;
    }

    .cta p {
        font-size: 3rem;
    }

    /****************************
    HOMEPAGE IMAGE GALLERY
    ***************************/


   .image-gallery {
       margin-bottom: 30px;
   }

    /****************************
    FOOTER
    ****************************/
    .footer-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
     }

    
    footer ul li i {
        margin: 20px;
        padding: 0;
    }

    footer img {
        margin-right: 30px;
        width: 350px;
    }

    footer p {
        margin-left: 30px;
    }

    /************************
    CONTACT PAGE 
    ************************/

    .contact-info {
        display: flex;
        justify-content: space-around;
    }

    .contact-main h1 {
        margin: 40px 0 50px;
        font-size: 2.375rem;
    }

     address p, address a, figcaption {
         font-size: 1.562rem;
     }

     .address-logo img {
         width: 350px;
     }

     .mission-content, .flex {
         display: flex;
         margin-top: 50px;
     }

     .col-1, .col-2 {
         width: 50%;
     }

     .col-1 {
         margin-right: 40px;
     }

     p {
         font-size: 1.125rem;
     }

     .wrap {
         width: 80%;
     }
    
     

    /*BLOG PAGE*/

    /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
      background-color: #6be4f7;
  }
   
  }


  